<h1>New pdf</h1>

<form id="new-pdf" name="pdf">
  <div class="field">
    <label for="location"> location:</label>
    <input type="text" name="location" id="location" value="<%= location %>" >
  </div>

  <div class="field">
    <label for="page"> page:</label>
    <input type="text" name="page" id="page" value="<%= page %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Pdf" />
  </div>

</form>

<a href="#/index">Back</a>